#header {
    color: green;
    display: flex;
    border: 1px solid green;
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    background-color: aliceblue;
    width: 100%;


}

#photo {
    width: 90px !important;
    height: 80px !important;
}

#form {
    border: 3px solid green;
    border-radius: 10px;
    /* display: flex; */
    text-align: center;
    height: 400px;
    background-color: aliceblue;
    color: green;
}

footer {
    color: green;
    /* display: flex; */
    border: 1px solid green;
    border-radius: 5px;
    text-align: center;
    background-color: aliceblue;
}

#envoyer {
    color: aliceblue;
    background-color: green;
    border-radius: 10px;
    height: 40px;
    width: 80px;
}

a {
    text-decoration: none;
    color: green;
}

#tarifrouge {
    background-color: red;
    border: 5px solid black;
    border-radius: 150px;
    margin: 15px;
}

#tariforange {
    background-color: orange;
    border: 5px solid black;
    border-radius: 150px;
    margin: 15px;
}

#tarifvert {
    background-color: green;
    border: 5px solid black;
    border-radius: 150px;
    margin: 15px;
}

#tarifbleu {
    background-color: rgba(0, 0, 255, 0.802);
    border: 5px solid black;
    border-radius: 150px;
    margin: 15px;
}

#tarif {
    background-color: aliceblue;
}

#contact {
    background-color: aliceblue;
    justify-content: center;
    text-align: center;
}

#contactt {
    height: 100px;
    width: 600px;
    margin: 10px;
}

#reponse1 {
    text-align: center;
    background-color: red;
    height: 50px;
    border: 5px solid black;
    border-radius: 150px;
    margin: 15px;


}

#reponse2 {
    text-align: ce3nter;
    background-color: orange;
    height: 50px;
    border: 5px solid black;
    border-radius: 150px;
    margin: 15px;

}

#reponse3 {
    text-align: center;
    background-color: green;
    height: 50px;
    border: 5px solid black;
    border-radius: 150px;
    margin: 15px;

}

#reponse4 {
    text-align: center;
    background-color: rgba(0, 0, 255, 0.802);
    height: 50px;
    border: 5px solid black;
    border-radius: 150px;
    margin: 15px;

}

body {
    background-color: aliceblue;
}

#photo2 {
    height: 600px;
    display: flex;
    justify-content: center;
    margin-left: 180px;
    /* margin-right: 300px; */
    margin-top: 10px;
    margin-left: 30px;

}

#photo3 {
    height: 600px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    margin-left: 30px;

}

#photo4 {
    height: 600px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    margin-left: 30px;

}

#photo5 {
    height: 600px;
    display: flex;
    justify-content: center;
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 10px;
    margin-left: 30px;

}